@import "../imports/ui/stylesheets/not-found.scss";

// *{
//   outline: 1px red dotted;
// }

.modal-title {
  display: inline-block;
}

#at-btn {
  background-color: #fa6502;
  color: white;
}

.progress {
  background-color: white;
  margin: 10px 10px 25px 25px;
  border: none;
  box-shadow: none;
  height: 100%;
}

.datatable {
  td:nth-child(1){
    width:20%;
  }
}