// Flat UI Colors
$turqoise: rgba(26, 188, 156,1.0);
$concrete: rgba(149, 165, 166,1.0);

.status-active {
    background: $turqoise;
}

.status-inactive{
    background: $concrete;
}

.white-text {
    color: white;
}
.new-btn {
    border-radius: 5px;
}