.row.flex
  .col-md-6.white-bg.padding-10
    .input-group
      label.input-group-btn
        span.btn.btn-primary.launchable-orange(style="margin-bottom: 0px;").
          Browse
          <input type="file" style="display:none;" multiple></input>
      input.form-control.white-bg(type="text" readonly)
    .video-container.margin-bottom-15
      img.img-responsive(src="http://placehold.it/800X450", alt="video")
    a.btn.btn-primary.launchable-orange.float-right Upload Video
  .col-md-1.text-center
      .vertical-align-container
        i.fa.fa-4x.fa-plus
  .col-md-5
    .media-list-container.white-bg.text-center
      ul
        li
          h3.subtle-text.text-center Target 1
          img.img-responsive(src="http://placehold.it/500X250", alt="target")
          hr
        li
          h3.subtle-text.text-center Target 2
          img.img-responsive(src="http://placehold.it/500X250", alt="target")
          hr
        li
          h3.subtle-text.text-center Target 2
          img.img-responsive(src="http://placehold.it/500X250", alt="target")
          hr
