.row.text-center.add-target
    .col-md-6.text-right
        a.btn.btn-primary.launchable-orange.
            Add Target
            <i class="fa fa-plus"></i>
    .col-md-6.text-left.subtle-text
        h1 JPEG, PNG

include ../blocks/datatable
