extends layout

block content
	include blocks/side-nav
	.app-container
		include blocks/top-nav
		.page-header
			h1 Launch App landing page
		.row
			form
				input(type="text", placeholder="username")
				input(type="password", placeholde="password")

