extends layout

block content
	.app-container.app-login
		.flex-center
			.app-header
			.app-body
				.loader-container.text-center
					.icon
						.sk-folding-cube
							.sk-cube1.sk-cube
							.sk-cube2.sk-cube
							.sk-cube4.sk-cube
							.sk-cube3.sk-cube
					.title Logging in...
				.app-block
					.app-form
						.form-header
							.app-brand
								span.highlight Simplio
								|  Admin
						form(action='/', method='POST')
							.input-group
								span#basic-addon1.input-group-addon
									i.fa.fa-user(aria-hidden='true')
								input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')
							.input-group
								span#basic-addon2.input-group-addon
									i.fa.fa-key(aria-hidden='true')
								input.form-control(type='text', placeholder='Password', aria-describedby='basic-addon2')
							.text-center
								input.btn.btn-success.btn-submit(type='submit', value='Login')
						.form-line
							.title OR
						.form-footer
							button.btn.btn-default.btn-sm.btn-social.__facebook(type='button')
								.info
									i.icon.fa.fa-facebook-official(aria-hidden='true')
									span.title Login with Facebook
						a(href="/dashboard") Go to Dashboard
			.app-footer