<template name="sideNav">
    <aside id="sidebar" class="app-sidebar">
    <div class="sidebar-header"><a href="#" class="sidebar-brand"><span class="highlight">Launch</span> Cards</a>
        <button type="button" class="sidebar-toggle"><i class="fa fa-times"></i></button>
    </div>
    <div class="sidebar-menu">
        <ul class="sidebar-nav">
        <li class="active"><a href="/targets">
            <div class="icon"><i aria-hidden="true" class="fa fa-bullseye"></i></div>
            <div class="title">Targets</div></a></li>
        <li class="messaging"><a href="/media">
            <div class="icon"><i aria-hidden="true" class="fa fa-upload"></i></div>
            <div class="title">Upload Media</div></a></li>
        <li class="dropdown"><a href="manage">
            <div class="icon"><i aria-hidden="true" class="fa fa-cube"></i></div>
            <div class="title">{{attributes}}</div></a>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <div class="icon"><i aria-hidden="true" class="fa fa-cog"></i></div>
            <div class="title">Settings</div></a>
        </li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <ul class="menu">
        <li><a href="/" data-toggle="dropdown" class="dropdown-toggle"><i aria-hidden="true" class="fa fa-cogs"></i></a></li>
        <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
        </ul>
    </div>
    </aside>
</template>
