<template name="datatable">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-bullseye"> Target</i></div>
                <div class="card-body no-padding text-left">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer dt-bootstrap no-footer">
                        <!--<div class="top">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>
                                    <input id="search" type="search" placeholder="Search..." aria-controls="DataTables_Table_0" class="form-control input-sm"/>
                                </label>
                            </div>
                            <div id="DataTables_0_Table_0_length" class="dataTables_length">
                                <label>
                                    <select name="DataTables_Table_0_length" aria-control="DataTables_Table_0" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                    </select>
                                </label>
                            </div>
                        </div>-->
                        <table cellspacing="0" width="100%" class="datatable table table-striped primary">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>name</th>
                                    <th>rating</th>
                                    <th>date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="http://placehold.it/100X70" alt="target image" /></td>
                                    <td>Andrew</td>
                                    <td class="sun-font">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td>10/11/17</td>
                                    <td class="text-center"><i class="fa fa-pencil"></i></td>
                                </tr>
                                <tr>
                                    <td><img src="http://placehold.it/100X70" alt="target image" /></td>
                                    <td>Alfred</td>
                                    <td class="sun-font">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td>02/12/17</td>
                                    <td class="text-center">
                                        <a href="/targets/1">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>