.row
    .col-xs-12
        .card
            .card-header
                i.fa.fa-bullseye.
                    &nbspTargets
            .card-body.no-padding.text-left
                #DataTables_Table_0_wrapper.dataTables_wrapper.form-inline.no-footer.dt-bootstrap.no-footer
                    .top
                        #DataTables_Table_0_filter.dataTables_filter
                            label
                                input#search.form-control.input-sm( type = "search" placeholder="Search..." aria-controls="DataTables_Table_0")
                        #DataTables_0_Table_0_length.dataTables_length
                            label
                                select.form-control.input-sm( name="DataTables_Table_0_length" aria-control="DataTables_Table_0" )
                                    option( value="10" ) 10
                                    option( value="25" ) 25
                    table.datatable.table.table-striped.primary( cellspacing="0" width="100%" )
                        thead
                            tr
                                th
                                th name
                                th rating
                                th date
                                th
                        tbody
                            tr
                                td
                                    img(src="http://placehold.it/100X70", alt="target image")
                                td Andrew
                                td.sun-font 
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                td 10/11/17
                                td.text-center
                                    i.fa.fa-pencil
                            tr
                                td
                                    img(src="http://placehold.it/100X70", alt="target image")
                                td Alfred
                                td.sun-font
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                td 02/12/17
                                td.text-center
                                    i.fa.fa-pencil
                        
        